@import url('https://fonts.googleapis.com/css?family=Inconsolata');

html {
  font-family: 'Inconsolata', monospace;
  text-transform: uppercase;
}

button {
  font-family: 'Inconsolata', monospace;
  text-transform: uppercase;
}

select {
  font-family: 'Inconsolata', monospace;
  text-transform: uppercase;
}

#registers {
  padding: 5px;
  border: 1px solid black;
  display: inline-grid;
  width: 300px;
  grid-template-columns: 50% 50%;
}

.register {
  margin: 0px;
  font-family: 'Inconsolata', monospace;
}

#assembly-code {
  height: 100px;
  width: 800px;
  overflow: scroll;
  display: inline-block;
}

.assembly-line {
  margin: 0px;
  font-family: 'Inconsolata', monospace;
}
